form {
  width: 90%;
  max-width: 400px;
  background-color: #1d4ed8;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
}

label {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #eff6ff;
  margin-bottom: 26px;
}

textarea {
  background-color: #dbeafe;
  border-radius: 1rem;
  color: #475569;
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100% - 25px);
  resize: none;
}

textarea::placeholder {
  color: #a5a5a5;
  font-family: 'Montserrat';
  font-weight: 400;
}

textarea:focus {
  outline: none;
}

textarea:focus::placeholder {
  color: transparent;
}

.TodoForm-buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Monastery';
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #eff6ff;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 1rem;
  border: none;
}

.TodoForm-button--add {
  background-color: #172554;
}

.TodoForm-button--cancel {
  background-color: #3b82f6;
}
