.CreateTodoButton {
  background-color: #020617;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  text-align: center;
  color: #fef2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  z-index: 1;
  transition: 0.1s;
}

.CreateTodoButton:hover {
  font-size: 80px;
}
